/* General fine *//* General inizio */

    /* General  general*/

    div.otgs-development-site-front-end{
        display: none;
    }

    body { 
      font-family: "aktiv-grotesk",sans-serif;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 110px;

    }

    hr.separator{
        border-block-color: #F4A6B4; 
        
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        max-width: 100vw;
    }


    a:visited {
        color: #000;
    }
    a{
        color: #000;
    }
    a:hover{
        text-decoration: underline;
         color: #000;
    }
    
    h1{
      font-size: 30px;
      line-height: 32px;
    }
    h2{
      font-size: 30px;
      line-height: 32px;
    }
    h3,p{
      font-size: 18px;
      line-height: 1.2;
    }
    h4{
      font-size: 16px;
      line-height: 1.2;
    }
    h5{
      font-size: 13px;
      line-height: 1.2;
    }
    h6{
      font-size: 109px;
      line-height: 1.2;
    }

    h1, h2, h3, h4, h5, h6 {
  
    }

    .menu-item.wpml-ls-current-language{
        text-decoration: underline;
    }

button.menu-toggle{
    float: right;

    height: 38px;
    width: 38px;
    font-size: 32px;
}


    .button{
        font-size: 18px;
        border-radius: 100px;
        padding: 0.5em 1.2em;
    }

    .button.white{
        color: #1A9457;
        background-color: white;
        border-color: #1A9457;
    }
    .button.white:hover{
        color: white;
        background-color: #1A9457;
        border-color: #1A9457;
    }

    .button.green{
        color: white;
    }
    .button.green:hover{
        color: #1A9457;
        background-color: white;
        border-color: #1A9457;
    }
    .button.pink{

    }
    .button.pink:hover{
        color: #F4A6B4;
        background-color: white;
        border-color: #1A9457;

    }

    /* General  extra medium*/

        @media only screen and (min-width: 63.9375em)  {
        }

    /* General  medium*/

        @media only screen and (max-width: 63.9375em)  {
        }

    /* General  mobile*/

        @media screen and (max-width: 39.9375em) {
        }

    /* General  extra mobile*/
        @media screen and (max-width: 28.125em) {
        }


/* General fine */

/* project inizio */

    /* project  general*/

    div.project_top_gallery{
      width: 100%;
      overflow: hidden;


    }
    div.project_top_gallery_image{
      width: calc( 100vw - 20px);
      height: calc( 50vw - 20px);
      background-size: cover;
    }



    div.project_bottom_gallery{
      width: 100%;
      height: 75vh;
      margin-top: 40px;
      margin-bottom: 40px;
      overflow: hidden;
    }
    div.project_bottom_gallery_image img{
        max-height: 75vh;
        width: auto;
        max-width: calc( 100vw - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }

    div.conten_project_infocard{
      font-size: 13px;
      line-height: auto;

    }
    div.conten_project_body{
        margin-bottom: 20px;
    }

    div.conten_project_infocard table, div.conten_project_infocard tbody{
      vertical-align: text-top;
      border: 0px transparent;
      background-color: transparent;
      text-align: left;
    }

    div.conten_project_infocard  tbody th, div.conten_project_infocard  tbody td {
      padding: 0rem 3rem 0rem 0rem;
    }

    div.conten_project_infocard table tbody tr:nth-child(even){
      background-color: transparent;
    }

    div.entry-content figure {
      margin: 0;
        text-align: center;
      }

     div.entry-content figure figcaption{
      text-align: left;
     }


    /* project  extra medium*/

        @media only screen and (min-width: 63.9375em)  {
        }

    /* project  medium*/

        @media only screen and (max-width: 63.9375em)  {
        }

    /* project  mobile*/

        @media screen and (max-width: 39.9375em) {
        }

    /* project  extra mobile*/
        @media screen and (max-width: 28.125em) {
        }


/* project fine */


/* nav fine *//* nav inizio */

    /* nav  general*/

    #topLogo{

        height: 75px;
        fill: #1A9457;
        display: flex;
        float: left;
        padding-top: 0px;
    }
    #bottom_logo{

        height: 110px;
        fill: #1A9457;
        display: flex;
        float: left;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    div.menu-menu-container, div.menu-menu_en-container{
        display: flex;
        float: right;
        
    }
    .main-navigation{
        position: fixed;
        top: 0px;
        left: 0px;
        padding: 10px;
        z-index: 1000;
        background: rgba(255,255,255,0.95);
        background: linear-gradient(rgba(255,255,255,0.98), 70%, transparent);
    }

    .main-navigation li.menu-item{
        padding-left: 80px;
        color: black;
        font-size: 18px;
        text-transform: lowercase;
    } 
    .main-navigation li.menu-item.current-menu-item,.main-navigation li.menu-item:hover {
        text-decoration: underline;
    }
  
    .main-navigation li.menu-item.wpml-ls-item:nth-child(1) a{
        padding-right: 0;
    }
    .main-navigation li.menu-item.wpml-ls-item:nth-child(2) a{
        padding-left: 0;
    }

    .main-navigation li.menu-item.wpml-ls-item{
        padding-left: 0px;
        color: black;
        font-size: 13px;

        text-transform: uppercase;
    }

    .main-navigation li.menu-item.wpml-ls-item a{
        padding-bottom: calc(0.7rem - 2.5px);
        padding-top: calc(0.7rem + 2.5px);}

    .main-navigation li.menu-item.wpml-ls-item:nth-child(1) span.wpml-ls-display:after{
        content: "/";
        text-decoration: none!important;
        display: inline-block;
    
    }

    

    /* nav  extra medium*/

        @media only screen and (min-width: 63.9375em)  {
             .main-navigation li.menu-item{
            padding-left: 30px;}
        }

    /* nav  medium*/

        @media only screen and (max-width: 63.9375em)  {
            .main-navigation li.menu-item{
            padding-left: 15px;}
        }

    /* nav  mobile*/

        @media screen and (max-width: 39.9375em) {
            .main-navigation li.menu-item{
            padding-left: 0px;}
        }

    /* nav  extra mobile*/
        @media screen and (max-width: 28.125em) {
        }


/* nav fine */


/* Home inizio */

    /* Home  general*/
    div.home_grid_item , div.works_grid_item{
        width: calc( (100vw - 40px) /3 );
        padding: 10px;
        float: left;
        margin-bottom: 50px;
    }
    div.home_grid_item:first-of-type{
        margin-top: calc( (75vw - 80px) /6);
    }
    
    div.home_grid_item.home_element_project,
    div.home_grid_item.home_element_product,
    div.works_grid_item,
    div.home_grid_item.home_element_sheet.cliccable
    {
        cursor: pointer;
    }

    div.home_grid_item.home_element_project:hover img,
    div.works_grid_item:hover img,
    div.home_grid_item.home_element_product:hover img{
         -webkit-filter: blur(4px);
    }
    div.home_grid_item.home_element_sheet:hover h3{
        text-decoration:underline;
    }

    div.home_grid_item.home_element_project h3,
    div.home_grid_item.home_element_product h3{
        margin-top: 8px;
    }
    h2.sheet_title{
        margin-bottom: auto;
    }
    h2.sheet_text{

        margin-top: 0;
        margin-bottom: auto;
        line-height: 1.2;
    }
   

    div.home_grid_item.home_element_sheet{
        height: calc( (75vw - 80px) /3 );
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        padding: 20px;
        border: solid;
        border-color: white;
        border-width: 10px;
        position: relative;
    }
    div.home_grid_item.home_element_sheet h2{
        
    }
    div.home_grid_item.home_element_sheet h3{
        position: absolute;
        bottom: 5px;
    }


    .green{
        color: #F4A6B4;
        background-color: #1A9457;
    }
    .pink{
        color: #1A9457;
        background-color: #F4A6B4;
    }
    .blue{
        color: #FFD900;
        background-color: #45C2E0;
    }
    .yellow{
        color: #45C2E0;
        background-color: #FFD900;
    }
    .brown{
        color:  #F4A6B4;
        background-color: #9E4D3B;
    }

    .green_txt{
        color: #1A9457;
    }
    .pink_txt{
        color: #F4A6B4;
    }
    .blue_txt{
        color: #45C2E0;
    }
    .yellow_txt{
        color: #FFD900;
    }
    .brown_txt{
        color: #9E4D3B;
    }
    
    /* Home  extra medium*/

        @media only screen and (min-width: 63.9375em)  {
        }

    /* Home  medium*/

        @media only screen and (max-width: 63.9375em)  {

            div.home_grid_item,div.works_grid_item {
                width: calc( (100vw - 40px) /2 );
                
            }
            div.home_grid_item:first-of-type{
                margin-top: calc( (75vw - 60px) /4 );
            }
    
            div.home_grid_item.home_element_sheet{
                height: calc( (75vw - 60px) /2 );
                padding: 20px;
            }
        }

    /* Home  mobile*/

        @media screen and (max-width: 39.9375em) {
            div.home_grid_item,div.works_grid_item{
                width: calc( (100vw - 40px)  );
    
            }
            div.home_grid_item.home_element_sheet{
                height: calc( (75vw - 40px)  );
                padding: 20px;
            }
            div.home_grid_item:first-of-type{
                margin-top: 10px;
            }
    

        }

    /* Home  extra mobile*/
        @media screen and (max-width: 28.125em) {
        }


/* Home fine */


/* Service inizio */

    /* Service  general*/
    div.service_grid{}

    div.entry-content.grid-x.methodology_container{
        margin-left: 10px;
        margin-right: 10px;
    }

    div.service_grid_item{
        width: calc( (100vw - 80px) / 3 );
        float: left;
        margin: 10px;
        margin-bottom: 0px;
    }
    div.service_grid_item img{
        margin-bottom: 15px;
    }
    div.methodology_gallery{
        overflow: hidden;
    }

    div.methodology_gallery_image{
        width: calc(66.6vw - 20px);
        height: calc((66.6vw - 20px) / 1.5);
        background-size: cover;
    }
    h3.methodology_gallery_caption{
        margin-left: 20px;
    }
    h3.methodology_contact{
        margin-top: 20px;
    }

    /* Service  extra medium*/

        @media only screen and (min-width: 63.9375em)  {

           

        }

    /* Service  medium*/

        @media only screen and (max-width: 63.9375em)  {
             
             div.service_grid_item{
                width: calc( (100vw - 60px) / 2 );
                
                margin: 10px;
            }
             div.methodology_gallery_image{
                width: calc(100vw - 40px);
                height: calc((100vw - 40px) / 1.5);

            }
            h3.methodology_gallery_caption{
                margin-left: 0px;
            }
        

        }

    /* Service  mobile*/

        @media screen and (max-width: 39.9375em) {

             div.service_grid_item{
                width: calc( (100vw - 40px)  );
                height: initial!important;
                margin: 10px;
            }

            


        }

    /* Service  extra mobile*/
        @media screen and (max-width: 28.125em) {
        }


/* Service fine */

/* Works inizio */

    /* Works  general*/

    a.works_filter_button{
        font-size: 18px;
        color: black;

        margin-right: 10px;
    }

    a.works_filter_button.selected{
        text-decoration: underline;
    }

    a.works_filter_button:hover{
         text-decoration: underline;
    }



    /* Works  extra medium*/

        @media only screen and (min-width: 63.9375em)  {
        }

    /* Works  medium*/

        @media only screen and (max-width: 63.9375em)  {
        }

    /* Works  mobile*/

        @media screen and (max-width: 39.9375em) {
        }

    /* Works  extra mobile*/
        @media screen and (max-width: 28.125em) {
        }
         

/* Works fine */

/* footer inizio */
a.arch_button{
    float: left;
    width: 130px;
    max-width: calc( 11.5vw );
    padding-right: 5px;
    padding-left: 5px;
    overflow: hidden;
    

}
a.arch_button svg{
    font-size: 18px;
    fill: #F4A6B4;
    margin-top: -5px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: visible;

}
a.arch_button:hover svg{

    text-decoration: underline;

}

div.footer_containers{
    max-width: calc((100vw - 210px)/3);
    display: block;
    float: left;
    padding-left: 2vw;
}

div.footer_containers.buttons{
    max-width: initial;
    float: right;
    padding-right: 2vw;
    padding-left: 0px;
    

}


footer  a:hover{
    text-decoration: none;
}
footer  a{
    text-decoration: underline;
}



div.footer_containers h3,div.footer_containers h4{
display: block;

}
div.footer_containers.left{

}
div.footer_containers.right{
    
}
div#newsletterModal.reveal h3,
{
padding: 30px;
padding-top: 0px;}

div#newsletterModal.reveal{
    background-color: #1A9457;
    min-height: 50vh;
    color: #F4A6B4;
    padding: 50px;
    border-color: transparent;

}
div#newsletterModal.reveal input,
body.page-id-123 div.newsletter_contacts input,
body.page-id-125 div.newsletter_contacts input{
    background-color: #1A9457;
    border-color: #F4A6B4;
    border: solid;
    border-radius: 100px;
    color: #F4A6B4;
    
    border-width: 2px;
    accent-color: #F4A6B4;
   
}
div#newsletterModal.reveal input.tnp-submit,
body.page-id-123 div.newsletter_contacts input.tnp-submit,
body.page-id-125 div.newsletter_contacts input.tnp-submit{
    padding: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #F4A6B4;
    border-color: #F4A6B4;
    color: #1A9457;
}
div#newsletterModal.reveal input.tnp-submit:hover,
body.page-id-123 div.newsletter_contacts input.tnp-submit:hover,
body.page-id-125 div.newsletter_contacts input.tnp-submit:hover{
   color: #F4A6B4;
   background-color: #1A9457;
   border-color: #F4A6B4;
}
div.reveal-overlay{
    background-color: rgba(50, 168, 82, 0.3);

}



div#newsletterModal.reveal  div.tnp-field.tnp-field-email label,
body.page-id-123 div.newsletter_contacts div.tnp-field.tnp-field-email label,
body.page-id-125 div.newsletter_contacts div.tnp-field.tnp-field-email label{
    display: none;
}

div#newsletterModal.reveal  div.tnp-field input::placeholder,
body.page-id-123 div.newsletter_contacts div.tnp-field input::placeholder,
ùbody.page-id-125 div.newsletter_contacts div.tnp-field input::placeholder{
  color: #F4A6B4;
  opacity: 1; /* Firefox */
}

div#newsletterModal.reveal .close-button ,
body.page-id-123 div.newsletter_contacts,
body.page-id-125 div.newsletter_contacts 
{
  color: #F4A6B4;

}

  

    /* footer  general*/

    /* footer  extra medium*/

        @media only screen and (min-width: 63.9375em)  {
        }

    /* footer  medium*/

        @media only screen and (max-width: 63.9375em)  {
            a.arch_button{

            max-width: initial;}

            div.footer_containers{
                max-width: calc((100vw - 97px)/2);
              
                display: block;
                float: left;
                padding-left: 30px;


            }
            
            div.footer_containers.buttons{
                max-width: initial;
                float: right;
                margin-top: 50px;
                padding-right: 0vw;
                padding-left: 0px;
                margin-right: calc((100vw - 390px)/2);
                                
            
            }
        }

    /* footer  mobile*/

        @media screen and (max-width: 39.9375em) {

            div.footer_containers{
                max-width: calc(100vw );
                margin-top: 10px;
              
                display: block;
                float: left;
                padding-left: 10px;
            }

             div.footer_containers:first-of-type{
    
                margin-top: 0px;}

             div.footer_containers.buttons{
    
                margin-top: 20px;}

            #bottom_logo{
                display: none;
            }
            
        }

    /* footer  extra mobile*/
        @media screen and (max-width: 28.125em) {
        }


/* footer fine */
/* about inizio */

    /* about  general*/

    div.manifesto_cell{
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
       
    }
    div.container_studio img{
        margin-bottom: 20px;
        padding-right: 20px;
    }
    div.container_bio{
        margin-bottom: 20px;
       padding-left: 10px;
       padding-right: 10px;
    }
    div.container_bio img{
        margin-bottom: 20px;
    }


    div.press_cell div.press_image{
        
        padding-right: 20px;
        margin-bottom: 20px;

    }
    div.press_cell div.press_content{
        margin-bottom: 20px;
        position: relative;

    }
    div.press_cell div.press_content h3:last-of-type{
        position: absolute;
        bottom: 0px;
    }
    div.press_cell:hover div.press_content h3:last-of-type{
        text-decoration: underline;
    }

    div.press_cell {
        cursor: pointer;
    }

    div.press_cell:hover div.press_image
    {
         -webkit-filter: blur(4px);
    }

    div.about_menu ul{
        list-style: none;
    }
    div.about_menu ul li a.selected{
         text-decoration: underline;
    }

    div.container_event td h3{
        margin-bottom: 0px;
    }
    div.container_event td a{
        text-decoration: underline;
    }
    div.container_event td a:hover{
       text-decoration: none;
    }





    /* about  extra medium*/

        @media only screen and (min-width: 63.9375em)  {
        }

    /* about  medium*/


        @media only screen and (max-width: 63.9375em)  {
            div.about_menu ul li{
                margin-right: 10px;

                display: inline-block;}
        }

    /* about  mobile*/

        @media screen and (max-width: 39.9375em) {
        }

    /* about  extra mobile*/
        @media screen and (max-width: 28.125em) {
        }


/* about fine */
/* contacts inizio */
body:not(.page-id-123,.page-id-125) .showinc{
    display: none;
}

body.page-id-123 .hideinc,
body.page-id-125 .hideinc{
    display: none;
}
body.page-id-123,body.page-id-125{
    background-color: #1A9457;
    color: #F4A6B4;
}
body.page-id-123 p,
body.page-id-123 a,
body.page-id-123 h1,
body.page-id-123 h2,
body.page-id-123 h3,
body.page-id-123 h4,
body.page-id-123 h5,
body.page-id-125 p,
body.page-id-125 a,
body.page-id-125 h1,
body.page-id-125 h2,
body.page-id-125 h3,
body.page-id-125 h4,
body.page-id-125 h5{
    
     color: #F4A6B4;
}

div.grid-x.top_contacts{
    max-width: 1500px;
    margin: auto;
}
body.page-id-123 nav#site-navigation.main-navigation,
body.page-id-125 nav#site-navigation.main-navigation{
    background: linear-gradient(#1A9457, 70%, transparent) ;


    color: #F4A6B4 !important;
}
body.page-id-123 nav#site-navigation.main-navigation a,
body.page-id-125 nav#site-navigation.main-navigation a{
    color: #F4A6B4 !important;
}
body.page-id-123 nav#site-navigation.main-navigation #topLogo,
body.page-id-123 #bottom_logo,
body.page-id-125 nav#site-navigation.main-navigation #topLogo,
body.page-id-125 #bottom_logo
{
    fill: #F4A6B4;
}

body.page-id-123 div.site-info,
body.page-id-125 div.site-info{
    align-items: end;
    display: flex;
    margin-top: 100px;
}

body.page-id-123 div.tnp-subscription, body.page-id-123 form.tnp-subscription, body.page-id-123 form.tnp-profile,
body.page-id-125 div.tnp-subscription, body.page-id-125 form.tnp-subscription, body.page-id-125 form.tnp-profile {
display: block;
margin: 0px;
max-width: 500px;
width: 100%;
}
div#newsletterModal.reveal div.tnp-subscription, div#newsletterModal.reveal form.tnp-subscription, div#newsletterModal.reveal form.tnp-profile{
   margin: 0px; 
}

    /* contacts  general*/

    /* contacts  extra medium*/

        @media only screen and (min-width: 63.9375em)  {
        }

    /* contacts  medium*/

        @media only screen and (max-width: 63.9375em)  {
        }

    /* contacts  mobile*/

        @media screen and (max-width: 39.9375em) {
        }

    /* contacts  extra mobile*/
        @media screen and (max-width: 28.125em) {
        }



/* contacts fine */
/* XXXXX inizio */

    /* XXXXX  general*/

    /* XXXXX  extra medium*/

        @media only screen and (min-width: 63.9375em)  {
        }

    /* XXXXX  medium*/

        @media only screen and (max-width: 63.9375em)  {
        }

    /* XXXXX  mobile*/

        @media screen and (max-width: 39.9375em) {
        }

    /* XXXXX  extra mobile*/
        @media screen and (max-width: 28.125em) {
        }


/* XXXXX fine */